.movies {
	width: 100%;
	min-height: calc(100vh - 344px);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	padding: 0 10px;
}

@media screen and (min-width: 768px) {
	.movies {
		min-height: calc(100vh - 246px);
		padding: 0 30px;
	}
}

@media screen and (min-width: 1280px) {
	.movies__more {
		width: 1140px;
	}
}
