.register {
	width: 260px;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 56px 0 30px 0;
}

.register__title-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 80px;
}

.register__title {
	margin: 0;
	margin-top: 50px;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	font-family: 'inter';
	font-style: normal;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}

.register__form {
	width: 100%;
	height: calc(100vh - 312px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.register__inputs-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.register__input-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 20px;
}

.register__input-container:first-of-type {
	margin-top: 0;
}

.register__input_label {
	margin: 0;
	font-size: 10px;
	line-height: 12px;
	color: #a0a0a0;
	font-family: 'inter';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.register__input {
	width: 100%;
	height: 46px;
	margin: 10px 0;
	padding-left: 15px;
	font-size: 13px;
	line-height: 16px;
	background-color: #f9f9f9;
	color: #000000;
	font-family: 'inter';
	font-style: normal;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 8px;
	border: none;
	outline: none;
}

.register__input-error {
	margin: 0;
	font-size: 10px;
	line-height: 12px;
	color: #ee3465;
	font-family: 'inter';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.register__button {
	min-height: 45px;
	width: 100%;
	background-color: #ff6838;
	color: #ffffff;
	border-radius: 3px;
	border: none;
	outline: none;
	font-size: 12px;
	line-height: 15px;
	font-family: 'inter';
	font-style: normal;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	transition: opacity 0.5s linear;
}

.register__button:hover {
	opacity: 0.6;
	cursor: pointer;
}

.register__button_disabled {
	background-color: #e8e8e8;
	transition: none !important;
}

.register__button_disabled:hover {
	opacity: 1;
	cursor: default;
}

.register__button_margin_singup {
	margin-top: 0;
}

.register__button_margin_singin {
	margin-top: 0;
}

.register__link-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 14px;
}

.register__link-paragraph {
	margin: 0;
	margin-right: 7px;
	font-size: 12px;
	line-height: 15px;
	color: #a0a0a0;
	font-family: 'inter';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.register__link {
	margin: 0;
	font-size: 12px;
	line-height: 15px;
	color: #ff6838;
	font-family: 'inter';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	transition: opacity 0.5s linear;
}

.register__link:hover {
	opacity: 0.6;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.register {
		width: 396px;
		justify-content: center;
		padding: 70px 0;
	}

	.register__title-container {
		align-items: flex-start;
		margin-bottom: 40px;
	}

	.register__title {
		margin-top: 40px;
	}

	.register__form {
		justify-content: center;
		height: 380px;
	}

	.register__button {
		font-size: 14px;
		line-height: 17px;
	}

	.register__button_margin_singup {
		margin-top: 69px;
	}

	.register__button_margin_singin {
		margin-top: 179px;
	}

	.register__link-container {
		margin-top: 16px;
	}

	.register__link-paragraph {
		font-size: 14px;
		line-height: 17px;
		margin-right: 6px;
	}

	.register__link {
		font-size: 14px;
		line-height: 17px;
	}
}
